@progressheight:60px;
html {
  background: url("../images/wp.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}
body {
  min-height: 100%;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.progressbar {
  width: 80%;
  margin: auto;
  height: @progressheight;
  border: 0px solid black;

}
.progress {
  line-height: @progressheight;
  border-right: 1px dashed black;
  width: 18%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.done {
  font-weight: 900;
}
.progress:last-of-type
 {
   border-right: none;
 }
.content {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 100px rgba(0,0,0,.8);
  margin-top: 700px - 600px;
  background: rgba(255,255,255,.8);
  min-height: 600px;
}
.segments {
  width: 900px;
  margin: auto;
  overflow-x:hidden;
  overflow-y:hidden;
  height: 600px - 60px;
  .segmentwrapper {
    width: 900px * 6;
    position: relative;
  }
  .segment {
    width: 900px;
    float: left;
    height: 580px - 60px;
    font-size: 18px;
    padding-top: 20px;
  }
  #welcome {
    background: url("../images/xzibit.png") no-repeat right bottom;
    .quote {
      font-style: italic;
      display: block;
      padding-top:  200px;

    }
  }
  #font {
    .option {
      float: left;
      width: 32%;
    }

    text-align: center;
  }
  #features {
    .option {
      float: left;
      width: 32%;
    }

    text-align: center;
  }
  #size {
    .option {
      float: left;
      width: 32%;
    }

    text-align: center;
  }
  #summary {
    .option {
      float: left;
      width: 32%;
    }

    text-align: center;
  }
  .button {
    background: #193DAA;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0px;
    margin-top: 20px;
    color: white;

  }
  .hugebutton {
    .button;
    font-size: 100px;
    border-radius: 20px;
  }
  #whatelse {
    .title {
      margin-top: 50px;
    }
    font-size: 30px;
    ul {
      margin-top: 70px;
      margin-left: 30px;
    }
  }
}
body>span {
  font-size: 50px;
  float:left;
  color: rgba(0,0,0,0);
  cursor: crosshair;
}
